.container {
  position: relative;
  position: 2rem;
}

h1 {
  font-size: 1.5rem;
  font-family: fantasy;
}

#title {
  font-size: 4rem;
  font-style: oblique;
}



p {
  padding: 60px;
}

footer li {
  list-style-type: none;
  position: relative;

}


#tech li {
  list-style-type: none;
  position: relative;
  right: 20px;
}

#education {
  padding: 15px;
}

.contact {
  padding: 60px;
  font-size: 1.5rem;
  background-color: DeepSkyBlue;
}

.contact input {
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem;
  margin: 1rem;
}
